html
	body
		<h5 style="font-size:25px;padding:20 20px 0px; 20px">Image Viewer</h5>
		<ul style="padding:0px 30px 0px 30px;margin-left:20px">
		img.className#IdName(src="/img/"+data alt=info name=info width='80px')
		<label style="color:black;margin-left:10px">SHA256 Hash -  </label>
		<label style="color:green;margin-left:10px">  #{sha}</label>
		